.heading_item {
    font-size: 42px;
    color: rgb(8, 173, 243);
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 27px;
    padding-right: .5rem;
    padding-left: 30rem;
}
