<!-- class => form display for write information employee (add and update) -->
<div class="row">
    <!-- <label class="col-sm-3">EMPLOYEE Name</label> -->
    <div class="col-sm-9">
        <label class="col-sm-3">Name</label>
    <input class="form-control" [(ngModel)]="nameI" />
    <label class="col-sm-3">Email</label>
    <input class="form-control" [(ngModel)]="emailI" />
    <label class="col-sm-3">Address</label>
    <input class="form-control" [(ngModel)]="addressI" />
    <label class="col-sm-3">Salary</label>
    <input class="form-control" [(ngModel)]="salaryI" />
    </div>
</div>
<br>

<button class="btn btn-primary" (click)="AddItemEmployee()" *ngIf="employeeIdI==0">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    Add Employee
</button>
<button class="btn btn-primary" (click)="UpdateItemEmployee()" *ngIf="employeeIdI!=0">Update Employee</button>